.VideoPage {
  position: absolute;
  background-image: url(./bg.png) !important;
  background-repeat: no-repeat;
  width: 1920px;
  height: 100vh;
  background-size: 100% 100%;
  overflow: auto;
  -ms-overflow-style: none;
}
.container-logo {
  padding-top: 90px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
}
.Container_logoplay {
  margin-top: 57px;
  display: flex;
  justify-content: center;
}
.biHome {
  color: white;
  font-size: 50px;
}
